<style>
  .highlight > code {
    display: block;
    white-space: pre;
    overflow-x: auto;
  }
</style>
<script src="https://giscus.app/client.js"
        data-repo="nikhiltiwari005/nikhiltiwari005.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNTU1MDE2MzU="
        data-category="General"
        data-category-id="DIC_kwDOCUTEQ84C-r1s"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>